---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Supabase from "./icons/Supabase.astro"
import ReactNative from "./icons/ReactNative.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  SUPABASE: {
    name: "Supabase",
    class: "bg-[#333366] text-white",
    icon: Supabase,
  },
  REACT_NATIVE: {
    name: "React Native",
    class: "bg-[#61dafb] text-black",
    icon: ReactNative,
  },
}

/**
 * project structure
 * {
 *    title: string,
 *    description: string,
 *    link: string,
 *    github: string,
 *    image: string,
 *    tags: TAGS[]
 * }
 */
const PROJECTS : any[] = [
{
   title: "autentiKa",
   description: "Aplicación de agendamiento de citas de una peluquería.",
   link: "",
   github: "",
   image: "/projects/autentika.webp",
   tags: [TAGS.SUPABASE, TAGS.REACT_NATIVE],
   tasks: [
     "Desarrollé una aplicación móvil de reservas para una peluquería, permitiendo a los clientes visualizar horarios disponibles y agendar citas en tiempo real",
     "Construí el frontend utilizando Expo (React Native) e integré Supabase para autenticación y almacenamiento de datos",
     "Diseñé un sistema de disponibilidad basado en calendario para el personal, optimizando la gestión de turnos y reduciendo conflictos de agenda"
   ]
},
{
   title: "Mituto",
   description: "Mituto conecta estudiantes con tutores especializados para ayudarte con tu tesis, trabajos prácticos y proyectos académicos.",
   link: "https://mituto.vercel.app",
   github: "",
   image: "/projects/mituto.webp",
   tags: [TAGS.NEXT, TAGS.TAILWIND,TAGS.SUPABASE],
   tasks: [
     "Desarrollé una plataforma web que conecta a estudiantes con tutores especializados para ayudar en tesis, proyectos académicos y trabajos prácticos",
     "Construí el frontend con Next.js e implementé autenticación y almacenamiento de datos usando Supabase",
     "Diseñé una interfaz limpia y fácil de usar para facilitar la búsqueda de tutores y la programación de sesiones, mejorando la experiencia del usuario"
   ]
}
]
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.length === 0 && (
    <p class="text-center text-gray-700 dark:text-gray-400">
      Trabajando en proyectos.
    </p>
  )}
  {
    PROJECTS.map(({ image, title, description, tags, link, github, tasks }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="imagen de proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag:any) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <ul class="mt-4 list-disc pl-6 text-gray-700 dark:text-gray-400">
        {tasks.map((task) => (
          <li>{task}</li>
        ))}
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



